
h1{
  font-size: 2.827em;
  text-align: center;
  width: 9em;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.1em;
  font-family: $main-h1-font;
  margin-top: 1em;
  font-weight: bold;
  color: #333333;
}

h2{
  font-size: 1.999em;
  font-family: $heading-font;
  margin-top: 1em;
  font-weight: bold;
  color: #333333;
}

h3{
  font-size: 1.414em;
  font-family: $heading-font;
  margin-top: 1em;
  font-weight: bold;
  color: #333333;
}
