.focus-subject__img{
  width: auto;
  height: 100%;
  margin-right: 2em;
  margin-bottom: 2em;

  @media (max-width: 430px) {
    font-size: 1.414em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

  }
}