.login-logout{
  margin-left: auto;
  width: 7.6em;
  padding: .5em;
  display: block;
  position: absolute;
  bottom: 2.1em;
  right: 3em;
  background-color: #fff;
  border-radius: .3em;
  color: #be2485;
  border: 1px solid #be2485;
  text-align: center;

  &:hover{
    background-color: #be2485;
    color: #fff;
    border: 1px solid #fff;
  }

  @media (max-width: 658px) {
    bottom: 5.5em;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0.1em 0.5em;
  }

  @media (max-width: 350px) {
    bottom: 4.6em;
  }

}