
.prev-next-container{
  margin: 1em auto;
  width: 12.3em;
  height: 2.2em;
  position: relative;

  .prev{
    display: inline-block;
    padding: 0.5em;
    text-align: center;
    position: absolute;
    left: 0;
    color: #BE2485;

    &:hover{
      color: #5E0055;
    }

    &--unavailable{
      color: #666;

      &:hover{
        color: #666;
      }
    }
  }
  .next{
    display: inline-block;
    padding: 0.5em;
    text-align: center;
    position: absolute;
    right: 0;
    color: #BE2485;

    &:hover{
      color: #5E0055;
    }

    &--unavailable{
      color: #666;

      &:hover{
        color: #666;
      }
    }
  }
}

